<?xml version="1.0" encoding="UTF-8"?>

<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <global-method-security secured-annotations="enabled" />

    <beans:bean id="loggerListener" class="org.springframework.security.authentication.event.LoggerListener" />

    <http>
        <form-login login-processing-url="/static/j_spring_security_check" login-page="/index.xhtml" authentication-failure-url="/index.xhtml?login_error=t" />
        <http-basic />
        
        <intercept-url pattern="/index.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/signInPlayer.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/rfRes/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
          <!-- kdybychom pridali atribut requires-channel="https", vynuti to pouziti SSL -->
        <intercept-url pattern="/**" access="ROLE_PLAYER" />
        
        <logout logout-url="/static/j_spring_security_logout" />
    </http>
    
    <authentication-manager>
        <authentication-provider ref="customAuthenticationProvider" />
    </authentication-manager>
    
</beans:beans>